<!DOCTYPE html>
<!-- Created By ShashankPathak - https://www.linkedin.com/in/shashank-pathak-software-developer/ -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOOM | Blog mangement System</title>
    <link rel="icon" href="https://bloom-pfqg.onrender.com/img/logo.png" type="image/png">
    <link rel="stylesheet" href="https://bloom-pfqg.onrender.com/css/homeStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
</head>
<body>

