<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloom- Blog Management System </title>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="http://localhost:3000/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                Bloom
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="user.png" alt="User" width="30" height="30" class="rounded-circle">
                            User Name
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="#">Notifications</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Sidebar -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-2 bg-light p-3">
                <h5>Quick Actions</h5>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Create a new post</a></li>
                    <li class="list-group-item"><a href="#">Edit a draft</a></li>
                    <li class="list-group-item"><a href="#">Delete a post</a></li>
                    <li class="list-group-item"><a href="#">Manage categories</a></li>
                    <li class="list-group-item"><a href="#">Reply to a comment</a></li>
                </ul>
            </div>
            <!-- Main area -->
            <div class="col-md-9 col-lg-10 p-3">
                <h3>Dashboard</h3>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card bg-primary text-white mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Total Posts</h5>
                                <p class="card-text display-4">123</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card bg-success text-white mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Total Views</h5>
                                <p class="card-text display-4">456</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card bg-warning text-white mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Total Comments</h5>
                                <p class="card-text display-4">789</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="card bg-danger text-white mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Total Likes</h5>
                                <p class="card-text display-4">1011</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-3">
                            <div class="card-header">Traffic Chart</div>
                            <div class="card-body">
                                <!-- Insert a chart here -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-3">
                            <div class="card-header">Comments Table</div>
                            <div class="card-body">
                                <!-- Insert a table here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-white p-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <img src="http://localhost:3000/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                    Bloom
                </div>
                <div class="col-md-6 col-lg-4">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" class="text-white">Documentation</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white">Support</a></li>
                        <li class="list-inline-item"><a href="#" class="text-white">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-4">
                    <p class="text-right">© 2023 Bloom All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
