<html>
<head>
    <title>Login Page</title>
    <link rel="icon" href="https://bloom-pfqg.onrender.com/img/logo.png" type="image/png">
    <link rel="stylesheet" href="https://bloom-pfqg.onrender.com/css/login.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://bloom-pfqg.onrender.com/img/logo.png" alt="Bloom Logo">
        </div>
        <div class="login-card">
            <h2>Reset your Password</h2>
            <form action="/auth/resetPassword" method="post">
                <input type="email" name="email" placeholder="Email" required>
                <button type="submit">Reset</button>
                <p>Don't have an account? <a href="#">Register here</a></p>
                <p>Remember your password? <a href="#">Reset here</a></p>
            </form>
        </div>
    </div>
</body>
</html>
