<%- include('../Header'); -%>
    <section>
        <h1>Bloom</h1>
        <p>
            A powerful and flexible blog management system that helps you grow your online presence. Bloom is designed
            to help you create engaging and informative blogs that attract and retain your audience. Bloom offers advanced
            features such as content scheduling, collaboration, analytics, and monetization. Bloom also allows you to
            connect your blog with other platforms and services, such as email marketing, e-commerce, and social media.
            Bloom is the blog management system that helps you bloom your business.
        </p>
    </section>
<%- include('../Footer'); -%>