<%- include ('../Header') %>
<header>
  <div class="logo" >
      <img src="http://localhost:3000/img/logo.png" alt="bloom-logo" />
      <a href="#">BLOOM</a>
  </div>
  <div class="auth-btns">
      <button><a href="./auth/registeruser">Register</a></button>
      <button><a href="./auth/login">Login</a></button>
  </div>
</header>
<main>
  <div class="main-left">
      <h1>Grow your blog with Bloom</h1>
      <p>Bloom is a blog management system that helps you create, manage, and grow your online presence. Whether you are a hobbyist, a professional, or a business, Bloom has the tools and features you need to succeed.</p>
      <ul class="main-content">
        <li>Create beautiful and responsive blogs with ease</li>
        <li>Customize your blog with themes, widgets, and plugins</li>
        <li>Secure your blog with SSL, backups, and spam protection</li>
        <li>Support your blog with analytics, SEO, and marketing</li>
      </ul>
      <button><a href="">Sign up now</a></button>
    </div>
    <img src="http://localhost:3000/img/Hero.png" alt="hero" />
</main>
<%- include ('../Footer') %>