<%- include('../Header'); -%>
<nav>
    <div class="menu">
      <div class="logo">
        <img src="https://bloom-pfqg.onrender.com/img/logo.png" alt="bloom logo img" id="logo">
        <a href="#">Bloom</a>
      </div>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">BLOOM</div>
    <div class="sub_title">Read or Write a Blog </div>
    <div class="btns">
      <button><a href="./auth/login">Login</a></button>
      <button><a href="./auth/registeruser">Create Account</a></button>
    </div>
  </div>
<%- include('../Footer'); -%>