<form method="post">
    <input name="name" id="name" type="text"/>
    <input name="email" id="email" type="text" />
    <input name="password" id="password" type="password"/>
    <input name="cnfpassword" id="cnfpassword" type="password"/>
    <button type="submit" >
        Submit data
    </button>
</form>