<html>
<head>
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://bloom-pfqg.onrender.com/css/Register.css">
    <link rel="icon" href="https://bloom-pfqg.onrender.com/img/logo.png" type="image/png">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://bloom-pfqg.onrender.com/img/logo.png" alt="Bloom Logo">
        </div>
        <div class="registration-card">
            <h2>Register to Bloom</h2>
            <form action="/auth/registeruser" method="post">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                <button type="submit">Register</button>
                <p>Already have an account? <a href="./auth/login">Login here</a></p>
            </form>
        </div>
    </div>
</body>
</html>
